﻿<?xml version="1.0" encoding="utf-8"?>
<selector xmlns:android="http://schemas.android.com/apk/res/android">
  <item android:drawable="@drawable/b_selected"  android:state_checked="true"/>
  <item android:drawable="@drawable/b_pressed" android:state_pressed="true"/>
  <item android:drawable="@drawable/b_normal"/>
</selector>